<div class="spq-header__inner">
    <div class="spq-header__main-label">
        <ng-template [ngTemplateOutlet]="logoLabelTemplate ? logoLabelTemplate : logoLabelTemplate">
        </ng-template>
    </div>
    <div class="spq-header__tabs">
        <div class="spq-header__tab"
        *ngFor="let model of models">
            <ng-template [ngTemplateOutlet]="tabTemplate"
                         [ngTemplateOutletContext]="{model: model}">
            </ng-template>
        </div>
    </div>
    <div class="spq-header__right-bar">
        <template [ngTemplateOutlet]="rightBarTemplate"></template>
    </div>
</div>

<ng-template #logoLabelTemplate>
    <div class="spq-header__main-label-text">{{logoLabel}}</div>
</ng-template>
