<div class="spq-main-container__inner">
    <div class="spq-main-container__header">
        <spq-header [logoLabel]="'Space Quest'"
                    [tabTemplate]="tabTemplate"
                    [rightBarTemplate]="userInfoTemplate"
                    [models]="_models">
        </spq-header>
    </div>
    <div class="spq-main-container__wrapper">
        <div class="spq-main-container__wrapper-scroll">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<ng-template #tabTemplate let-model="model">
    <button mat-button
            disableRipple="true"
            (click)="_navigateTo(model.route)">
        {{model.tabName}}
    </button>
</ng-template>

<ng-template #userInfoTemplate>
    <span class="spq-main-container__header-email">{{_userEmail}}</span>
    <button mat-button
            disableRipple="true"
            (click)="_logoutClick()">
        Выйти
    </button>
</ng-template>
