<div class="spq-qd-answer__inner">
    <div class="spq-qd-answer__bar">
        <div class="spq-qd-answer__bar-attempts">
            <svg *ngFor="let attempt of _attemptsModel; trackBy: _trackByAttemptSpentFn">
                <ng-template [ngTemplateOutlet]="attempt.attemptSpent ? spentTemplate : noSpentTemplate">
                </ng-template>
                <ng-template #noSpentTemplate>
                    <use xlink:href="#icon-non-color-rocket"/>
                </ng-template>
                <ng-template #spentTemplate>
                    <use xlink:href="#icon-rocket"/>
                </ng-template>
            </svg>
        </div>
        <div class="spq-qd-answer__bar-hints"
             *ngFor="let used of _tooltipArray; index as i"
             [matTooltip]="!used ? 'Вы можете воспользоваться этой подсказкой' : 'Вы уже использовали эту подсказку'"
             [matTooltipPosition]="'after'"
             (click)="_onHintsClick(i)">
            <svg width="28px" height="28px">
                <use *ngIf="!used; else usedHintsTemplate"
                     xlink:href="#icon-yellow-lamp" fill="#FFDA00"/>
                <ng-template #usedHintsTemplate>
                    <use xlink:href="#icon-lamp"/>
                </ng-template>
            </svg>
        </div>
    </div>
    <div class="spq-qd-answer__answer">
        <form class="spq-qd-answer__form"
              [formGroup]="_answerFormGroupModel"
              (ngSubmit)="_onSubmitClick(input.value)">
            <div class="_input">
                <mat-form-field appearance="outline">
                    <mat-label>Ваш ответ</mat-label>
                    <input #input
                           formControlName="answerInput"
                           matInput
                           placeholder="Placeholder">
                    <mat-hint *ngIf="_failureAnswer">Попробуйте еще раз</mat-hint>
                </mat-form-field>
            </div>
            <button class="_button"
                    type="submit"
                    mat-raised-button color="primary"
                    [disabled]="_localLoading || _answerFormGroupModel.invalid || !_answerFormGroupModel.dirty">
                Отправить
            </button>
        </form>
    </div>
</div>
