<div class="spq-qd-answer__inner">
    <div class="spq-qd-answer__bar">
        <div class="spq-qd-answer__bar-attempts">
            <svg>
                <use xlink:href="#icon-rocket"/>
            </svg>
            <svg>
                <use xlink:href="#icon-non-color-rocket"/>
            </svg>
            <svg>
                <use xlink:href="#icon-non-color-rocket"/>
            </svg>
        </div>
        <div class="spq-qd-answer__bar-hints">
            <svg width="28px" height="28px">
                <use xlink:href="#icon-lamp"/>
            </svg>
        </div>
    </div>
    <div class="spq-qd-answer__answer">
        <div>
            Answer
            <input matInput>
        </div>
        <button mat-raised-button color="primary">
        </button>
    </div>
</div>
