<div class="spq-qd-question__inner">
    <div class="spq-qd-question__content"
         *ngIf="_safeUrl && _taskType"
         [ngSwitch]="_taskType">
        <iframe class="spq-qd-question__content-video"
                *ngSwitchCase="_questUrlType.VIDEO"
                [src]="_safeUrl"
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture">
        </iframe>
        <img class="spq-qd-question__content-picture"
             *ngSwitchCase="_questUrlType.PICTURE"
             [src]="_safeUrl"
             importance="high"
             alt="Question Picture">
    </div>
    <div class="spq-qd-question__question">
        <div class="spq-qd-question__question-caption">
            {{questTask.text}}
        </div>
    </div>
</div>
