<div class="spq-auth__inner"
     [@flashAnimations]>
    <div class="spq-auth__inner-form">
        <mat-progress-bar *ngIf="_loading"
                          class="progress-line"
                          mode="indeterminate">
        </mat-progress-bar>
        <mat-tab-group [dynamicHeight]="true"
                       mat-align-tabs="center">
            <mat-tab label="Вход">
                <form class="spq-auth__form"
                      [formGroup]="_loginForm"
                      (ngSubmit)="onValidLoginClick()">
                    <mat-form-field appearance="outline"
                                    [hideRequiredMarker]="false">
                        <mat-label>Логин</mat-label>
                        <input type="text"
                               placeholder="Введите ваш логин"
                               formControlName="login"
                               matInput>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Пароль</mat-label>
                        <input type="password"
                               placeholder="Введите ваш пароль"
                               formControlName="password"
                               matInput>
                        <mat-error *ngIf="_loginForm.invalid">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>
                    <mat-error class="spq-auth__form-error"
                               *ngIf="_loginMessage">
                        {{_loginMessage}}
                    </mat-error>
                    <button class="spq-auth__form-submit"
                            mat-button
                            color="accent"
                            type="submit"
                            mat-raised-button
                            [disabled]="!_loginForm.valid || _loading">
                        Войти
                    </button>
                </form>
            </mat-tab>
            <mat-tab label="Регистрация">
                <form class="spq-auth__form"
                      [formGroup]="_registrationForm"
                      (ngSubmit)="onValidRegisterClick()">
                    <mat-form-field appearance="outline">
                        <mat-label>Ваше Имя</mat-label>
                        <input type="text"
                               placeholder="Имя"
                               formControlName="firstName"
                               matInput>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <input type="email"
                               placeholder="Введите ваш Email"
                               formControlName="email"
                               matInput>
                        <mat-error *ngIf="_registrationForm.controls.email.invalid">Некорректный Email</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Логин</mat-label>
                        <input type="text"
                               placeholder="Логин"
                               formControlName="login"
                               matInput>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Пароль</mat-label>
                        <input type="password"
                               placeholder="Введите ваш пароль"
                               formControlName="password"
                               matInput>
                    </mat-form-field>
                    <mat-error class="spq-auth__form-error"
                               *ngIf="_registrationMessage">
                        {{_registrationMessage}}
                    </mat-error>
                    <button class="spq-auth__form-submit"
                            mat-button
                            color="accent"
                            mat-raised-button
                            [formAction]="'submit'"
                            [disabled]="!_registrationForm.valid || _loading">
                        Зарегистрироваться
                    </button>
                </form>
            </mat-tab>
        </mat-tab-group>

    </div>
</div>
