<div class="spq-quest__inner">
    <spq-quest-step-cube class="spq-quest__flow-cube"
                         [title]="'Test Cube'"
                         [subtitle]="'Subtitle cube'"
                         [serialNumber]="1">
    </spq-quest-step-cube>
    <spq-quest-step-cube class="spq-quest__flow-cube"
                         [title]="'first step'"
                         [subtitle]="'где-то там, в Мухосранске'"
                         [serialNumber]="2">
    </spq-quest-step-cube>
    <spq-quest-step-cube class="spq-quest__flow-cube"
                         [title]="'Second step'"
                         [subtitle]="'Subtitle step'"
                         [serialNumber]="3">
    </spq-quest-step-cube>
    <spq-quest-step-cube class="spq-quest__flow-cube"
                         [title]="'Чисто что-бы было'"
                         [subtitle]="'Subtitle cube'"
                         [serialNumber]="4">
    </spq-quest-step-cube>
</div>
