<div class="spq-quest-flow__inner">
    <div class="spq-quest-flow__name">
        {{values.name}}
    </div>
    <div class="spq-quest-flow__flow">
        <spq-quest-step-cube *ngFor="let node of values.nodes; trackBy:  _trackCubeById"
                             class="spq-quest-flow__flow-cube"
                             [id]="node.id"
                             [title]="node.title"
                             [subtitle]="node.subtitle"
                             [serialNumber]="node.serialNumber"
                             [disabled]="!node.passed && values.currentTaskId !== node.id"
                             [isSelected]="values.currentTaskId === node.id"
                             (onClick)="_navigateToClickedQuestDetails($event)">
        </spq-quest-step-cube>
    </div>
</div>
