@import "./../../common/colors.less";
@import "./../../common/mixins.less";

.spq-main-container {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
    overflow-x: hidden;

    &__inner {
        padding: 0 10px;
        margin: 0 auto;
        min-width: 750px;
        width: 90%;
    }

    &__header {
        width: 100%;
    }

    &__wrapper {
        width: 94%;
        margin: 0 3%;
        background-color: @main-background-color-light;
        overflow: auto;
        height: calc(100% - var(--spq-heder-height, 45));
        -webkit-overflow-scrolling: touch;
        overflow-scrolling: touch;
    }

    &__wrapper::-webkit-scrollbar-thumb {
        .webkit-scrollbar-thumb();
    }

    &__wrapper::-webkit-scrollbar {
        .webkit-scrollbar();
    }
}
