.spq-finish-action-popup {
    display: flex;
    flex-flow: column;
    padding: 5px;
    position: relative;

    &__inner {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        min-height: 60px;
        width: 270px;
    }

    &__caption {
        padding: 5px 0 5px;
        font-size: 14px;
    }

    &__buttons {
        flex-flow: row nowrap;
    }
}
