@import "colors.less";

.webkit-scrollbar-thumb() {
    border-radius: 2px;
    background-color: @addition-shadow-26;
    -webkit-box-shadow: 0 0 1px @addition-shadow-26;
}

.webkit-scrollbar() {
    -webkit-appearance: none;
    width: 7px;
}
