@import "./../../common/colors.less";
@import "./card.less";

.spq-timeline {
    display: flex;
    flex: 1;

    &__inner {
        display: flex;
        flex-flow: column nowrap;
        width: 100%;
        padding: 0 10px;
    }

    &__card {
        padding-top: 10px;
        width: 100%;
    }
}
